* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Montserrat, sans-serif;
}

body {
    color: white;
    letter-spacing: 1px;
    line-height: 25px;
}

main {
    height: auto;
    margin: 0;
    background-image: radial-gradient(circle at 90% 80%, transparent, #1d1e22);
    animation: colorful 60s infinite linear;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    height: 10vh;
    width: 50%;
    list-style: none;
    cursor: pointer;
    font-weight: 600;

}

li a {
    transition: 0.6s;
    display: block;
    width: auto;
    height: auto;
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
}

.main-article-title {
    color: #fff;
    padding-bottom: 5px;
    position: relative;
}

.main-content {
    display: flex;
}


.main-articles {
    width: 50%;
    text-align: justify;
    padding: 0px 20px 0px 40px;
}

.main-articles img {
    width: 500px;
}

.main-articles:nth-child(1) {
    padding-top: 150px;
}

.down-page-icons {
    color: rgb(129, 136, 177);
    font-size: 40px;
    font-weight: 100;
    margin: auto;
    display: block;
    animation: arrowAnimation 3s linear infinite;
    transition: 0.6s;
    cursor: pointer;
}

.projects-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
}

#titleProjects{
    margin-top: 160px;
    position: absolute;
}

#titleProjects::before {
    content: '\f120';
    font-family: "Font Awesome 5 Pro";
    padding: 10px;
}

.second-article-section {
    width: auto;
    margin: 0px 0px 0px 0x;
    background-color: transparent;
    display: flex;
    justify-content: center;
    height: 800px;
    position: relative;
}

.tech-box, .tech-box2, .tech-box3, .tech-box4 {
    margin: auto 10px auto 10px;
    color: black;
    background-color: none;
    height: 140px;
    width: 150px;
    border-radius: 5px;
    position: relative;
    transition: 0.6s;
    filter: grayscale(100%);
}

.tech-box::before {
    content: '';
    border-radius: 5px;
    display: block;
    width: 0%;
    background-color: tomato;
    height: 3px;
    position: absolute;
    bottom: 0;
    transition: 0.8s;
}

.tech-box2::before {
    content: '';
    border-radius: 5px;
    display: block;
    width: 0%;
    background-color: #0984e3;
    height: 3px;
    position: absolute;
    bottom: 0;
    transition: 0.8s;
}

.tech-box3::before {
    content: '';
    border-radius: 5px;
    display: block;
    width: 0%;
    background-color: #e1b12c;
    height: 3px;
    position: absolute;
    bottom: 0;
    transition: 0.8s;
}

.tech-box4::before {
    content: '';
    border-radius: 5px;
    display: block;
    width: 0%;
    background-color: #0984e3;
    height: 3px;
    position: absolute;
    bottom: 0;
    transition: 0.8s;
}


.tech-icons {
    display: block;
    font-size: 85px;
    color: #ee5253;
    margin: 25px auto auto auto;;
}


.fa-html5 {
    display: block;
    font-size: 85px;
    color: #ee5253;
    margin: 25px auto auto auto;;
}

.fa-js-square  {
    display: block;
    margin: 25px auto auto auto;
    font-size: 85px;
    color: #e1b12c;

}

.fa-css3-alt {
    display: block;
    margin: 25px auto auto auto;
    font-size: 85px;
    color: #0984e3;
}

.fa-github-square {
    display: block;
    margin: 25px auto auto auto;
    font-size: 85px;
    color: #40739e;

}


h3 {
    margin: 0px 50px 0px 50px;
}


.title-tech {
    margin-top: 160px;
    position: absolute;
}

.title-tech::before{
    font-family: "Font Awesome 5 Free";
    content: "\f121";
    padding: 10px;
}
.projectContainer {
    position: absolute;
}
.firstProject {
    background-color: white;
    width: 150px;
    height: 150px;
    margin-top: 250px;
}

footer {
    color: rgba(255, 255, 255, 0.37);
    position: absolute;
    bottom: 0;
}

 /* Animations */


 .down-page-icons:hover{
    color: #ee5253;
 }

 .tech-box:hover {
    filter: grayscale(0%);
 }
 .tech-box2:hover {
    filter: grayscale(0%);
 }
 .tech-box3:hover {
    filter: grayscale(0%);
 }
 .tech-box4:hover {
    filter: grayscale(0%);
 }


 .tech-box:hover::before{
     width: 100%;
 }
 .tech-box2:hover::before{
    width: 100%;
}
.tech-box3:hover::before{
    width: 100%;
}
.tech-box4:hover::before{
    width: 100%;
}

 nav li a:hover {
     transform: scale(1.2);
 }


@keyframes arrowAnimation {
    0% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}

@keyframes colorful {
    0% {
      background-color: #1e272e;
    }
    20% {
      background-color: #3820a5;
    }
    40% {
      background-color: #ff4757;
    }
    60% {
      background-color: #5f27cd;
    }
    80% {
        background-color: #2ed573;
      }
    100% {
        background-color: #1e272e;
      }

  }


@media (max-width: 890px) {
    nav ul {
        justify-content: space-around;
        width: auto;

    }
}


@media (max-width: 890px) {
    section {
        flex-direction: column;

    }
}

@media (max-width: 890px) {
    .main-content{
        flex-direction: column-reverse;

    }
}

@media (max-width: 890px) {
    .main-articles{
        width: 80%;

    }
}

@media (max-width: 890px) {
    .tech-box, .tech-box2, .tech-box3, .tech-box4 {
        filter: grayscale(100%);
        background-color: transparent;

    }
}

@media (max-width: 890px) {
    .second-article-section {
        flex-direction: row;

    }
}

@media (max-width: 890px) {
    img {
        max-width: 300px;

    }
}

