* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url(../img/super_mario_bros_1_1_wallpaper_hd_flat_by_wougie89_d6toae7-pre.jpg);
}

.player {
    position: absolute;
    bottom: 30%;
    animation: playerMove 2s infinite linear;
}



@keyframes playerMove {
0% {left: 0px;}
50% {left: 850px;}
100% {left: 0px;}

}

