* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    color: #00343d;
}
.icon {
    font-size: 40px;
    padding: 10px;
    transition: 0.5s;
}

h1 {
    cursor: pointer;
    transition: 0.5s;
    color: #00343d;
}

img {
    border-radius: 100%;
}

fieldset {
    border: none;
    max-width: 400px;
}

p {
    font-weight: 500;
    font-size: 15px;
    color: #00343d;
}

li {
    list-style: none;
    float: right;
    margin-right: 1%;

}
.icon{
    transition: 0.5s;
}

.firstZone {
    text-align: center;
    padding: 50px 0px 50px 0px;
    margin: 0px 0px 70px 0px;
    height: 425px;
    
}

.secondZone {
    background-color: #2ed573;
    padding: 8%;
    text-align: center;
    height: 100%;
    line-height: 35px;
}

.secondZone p, .secondZone h2 {
    color: white;
}

fieldset {
    margin: 10px 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    width: 200px;
    height: 22em;
    transition: 0.6s;
    font-size: 12px;
}

fieldset:hover {
    transform: scale(1.1, 1.1);
    -webkit-box-shadow: 17px 14px 32px 6px rgba(0,0,0,0.72); 
    box-shadow: 17px 14px 32px 6px rgba(0,0,0,0.72);
}

.thirdZone {
    background-color: #00343d;
}

.fa-caret-down {
    font-size: 80px; 
    padding-top: 5%; 
    cursor: pointer;
    transition: 0.4s;
}





/*Animations*/


h1:hover {
    color: #ff4757;
}

.trayectory:hover {
    transform: scale(1.1, 1.1);
    
}

.fa-caret-down:hover {
    transform: scale(1.05, 1.05); 
    color: #ff4757; 
}

.icon:hover {
    transform: scale(1.5,1.5);
}