* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
.icon {
    font-size: 40px;
    padding: 10px;
    transition: 0.5s;
}

h1 {
    cursor: pointer;
    transition: 0.5s;
    color: #00343d;
}

img {
    border-radius: 100%;
}

fieldset {
    border: none;
    max-width: 400px;
}

p {
    font-weight: 500;
    font-size: 15px;
    color: #00343d;
}

li {
    list-style: none;
    float: right;
    margin-right: 1%;

}
.icon{
    transition: 0.5s;
    color: #00343d;
}

.firstZone {
    text-align: center;
    padding: 50px 0px 50px 0px;
    margin: 0px 0px 70px 0px;
    height: 425px;
    
}

.firstZone .fa-caret-down {
    color: #00343d;
}

.secondZone {
    background-color: #2ed573;
    padding: 15%;
    text-align: center;
    height: 100%;
    line-height: 35px;
}

.secondZone p, .secondZone h2 {
    color: white;
}

fieldset {
    margin: 10px 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    width: 200px;
    height: 22em;
    transition: 0.6s;
    font-size: 12px;
    
}


.thirdZone {
    background-color: #1e272e;
}

.fa-caret-down {
    font-size: 80px; 
    padding-top: 5%; 
    cursor: pointer;
    transition: 0.4s;
    color: white;
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.carticas {
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    background: #7d5fff;
    max-width: 300px;
    min-height: 250px;
    padding: 30px;
    margin:20px;
    box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.75);
    text-align: center;
    transition: 0.8s;
}

.card-btn{
    border-radius: 25px;
    cursor: pointer;
    all: unset;
    display: block;
    margin-left: auto;
    padding: 10px 15px;
    font-size: 10px;
    transition: all 0.5s;
    letter-spacing: 1.2px;
}

.card-title{
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.card-zone{
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.carticas p {
    color: white;
}

.carticas h3 {
    color: white;
}
.carticas:nth-child(2){
   background: #5352ed;
}
.carticas:nth-child(3){
    background: #38ada9;
 }
 .carticas:nth-child(4){
    background: #808e9b;
 }
 .carticas:nth-child(5){
    background: #1e3799;
 }
 .carticas:nth-child(6){
    background: #ef5777;
 }
 .carticas:nth-child(7){
    background: #ffa801;
 }
 .carticas:nth-child(8){
   background: #4bcffa;
 }
.carticas:last-child {
   background: #2ed573;
}

.carticas a {
    color: white;
    font-size: 15px;
    font-weight: 700;
}

/*Animations*/



.trayectory:hover {
    transform: scale(1.1, 1.1);
    
}

.fa-caret-down:hover {
    transform: scale(1.05, 1.05); 
    color: #ff4757; 
}

.icon:hover {
    transform: scale(1.5,1.5);
    color: #ff4757; 
}


fieldset:hover {
    height: 23em;
    transform: scale(1.1, 1.1);
    -webkit-box-shadow: 17px 14px 32px 6px rgba(0,0,0,0.72); 
    box-shadow: 17px 14px 32px 6px rgba(0,0,0,0.72);
}

.carticas:hover {
    transform: scale(1.1, 1.1);
    -webkit-box-shadow: 17px 14px 32px 6px rgba(255, 255, 255, 0.158); 
    box-shadow: 17px 14px 32px 6px rgba(255, 255, 255, 0.185);
    background-color: #ff3838;
}
